<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Event List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
	
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
		crossorigin="anonymous">
	
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
		rel="stylesheet">
	
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
		rel="stylesheet">
	<link
		href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"
		rel="stylesheet">
	
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
		crossorigin="anonymous">
		
	  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
	  
</head>
<body>
	<span style="margin-left: 190px;" class="header-lienhe-ten">Danh sách sự kiện đã tham gia</span>

	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a style="padding : 0" class="navbar-brand" th:href="@{/main}"> <img
				style="width: 50px; height: 50px" th:src="@{/image/logo.jpg}" />
			</a>				
			<a class="navbar-brand" th:href="@{/information}">Thông Tin Chung</a>
			<a class="navbar-brand" th:href="@{/network}">Kỹ Thuật Xanh</a>
			<div class="navbar-brand" data-bs-toggle="modal" data-bs-target="#modalEventFunction" 
			type="button" data-toggle="dropdown">Sự Kiện</div>
			<div class="container">
				<!-- Modal -->
				<div class="modal fade" id="modalEventFunction" tabindex="-1"
					aria-labelledby="modalEventFunction" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Sự Kiện</h5>
								<button type="button" class="btn-close"
									data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<table border="0">
									  <div class="mb-3 row"><a class="navbar-brand" th:href="@{/event/create}">Thêm Sự Kiện</a></div>
								      <div class="mb-3 row"><a class="navbar-brand" th:href="@{/event/getListEvents}">Danh sách các sự kiện có thể tham gia</a></div>
								      <div class="mb-3 row"><a class="navbar-brand" th:href="@{/event/listMyEvents}">Danh sách sự kiện của tôi</a></div>
								      <div class="mb-3 row"><a class="navbar-brand" th:href="@{/event/getListEventsJoined}">Danh sách các sự kiện đã tham gia</a></div>
								      <div class="mb-3 row"><a class="navbar-brand" th:href="@{/event/getListEventsApproval}">Danh sách người dùng cần phê duyệt</a></div>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Đóng</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="navbar-brand" th:href="@{/user/logout}">Đăng Xuất</a>
			<a style="padding : 0" th:if="${isLogin}"> <img
					style="width: 40px; height: 40px" th:src="@{/image/user.png}" />
		</nav>
	</div>
	<br />
	<br />
	<div>
		<table class="table table-hover table-striped" id="listEvents" style="width:100%">
			<thead>
				<tr>
					<th>STT</th>
					<th>Địa Chỉ</th>
					<th>Mô Tả Sự Kiện</th>
					<th>Ảnh Nổi Bật	</th>
					<th>Tên Sự Kiện</th>
					<th>Thời Gian Bắt Đầu</th>
					<th>Thời Gian Kết Thúc</th>
					<th>Số Người Đã Tham Gia</th>
					<th>Trạng Thái Phê Duyệt</th>
					<th>Thông Tin</th>
					<th>Hành Động</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="event : ${events}">
					<td th:utext="${event.id}">...</td>
					<td th:utext="${event.address}">...</td>
					<td th:utext="${event.description}">...</td>
					<td><img th:src="@{'' + ${event.image}}"
						style="width: 100px; height: 50px" alt="" /></td>
					<td th:utext="${event.name}">...</td>
					<td th:utext="${#temporals.format(event.timeStart, 'dd-MMM-yyyy hh:mm:ss')}">...</td>
					<td th:utext="${#temporals.format(event.timeEnd, 'dd-MMM-yyyy hh:mm:ss')}">...</td>
					<td th:utext="${event.numberUserJoined}">...</td>
					
					<!-- <td th:switch="${event.statusApprovalJoin}">
						<div th:if="'0'" >Người Tạo Sự Kiện Chưa Duyệt</div>
						<div th:case="'1'" >Người Tạo Sự Kiện Đã Duyệt</div>
						<div th:case="'*'" >Người Tạo Sự Kiện Chưa Duyệt</div>
					</td> -->
					<td th:if="${!event.statusApprovalJoin}">Người Tạo Sự Kiện Chưa Duyệt</td>
					<td th:if="${event.statusApprovalJoin}">Người Tạo Sự Kiện Đã Duyệt</td>

					<td><a th:href="@{/event/detailEvent/{id}(id=${event.id})}">Xem Chi Tiết</a></td>
					<td>
						<button type="button" class="btn btn-primary">
								<a th:href="@{/event/cancelJoinEvents/{id}(id=${event.id})}" style="color: white; text-decoration: none;">Hủy</a>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<br />
	<div>
		<nobr>
			<!-- <span th:if="${hasPrev}"><a th:href="@{/contacts?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span> 
                <span th:if="${hasNext}"><a th:href="@{/contacts?page={next}(next=${next})}">Next</a></span> -->
		</nobr>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
		
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
		
	<script>
		$(document).ready(function () {
		    $('#listEvents').DataTable();
		});
	</script>
</body>
</html>